<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glodon.bim">

    <!-- 权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">

        <!-- 主界面 -->
        <activity
            android:name=".business.qualityManage.view.QualityMangeMainActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:fileName="android.intent.action.MAIN" />-->

            <!--<category android:fileName="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <!-- 登录界面 -->
        <activity
            android:name=".business.login.view.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 启动界面 -->
        <activity
            android:name=".business.welcome.view.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Appwelcome" />
        <!-- 二维码扫描界面 -->
        <activity
            android:name=".basic.zxing.activity.CaptureActivity"
            android:screenOrientation="portrait" />

        <!-- Activity基类 -->
        <activity
            android:name=".base.BaseTitleActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <meta-data
            android:name="com.glodon.bim.basic.image.GlideConfig"
            android:value="GlideModule" />

        <activity
            android:name=".test.TestRecyclerViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.TestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".test.TestImageActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".test.TestZxingActivity" />

        <!-- 友盟分享 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59c4749407fe655ef9000012" />

        <!-- 微信 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- qq -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="1106433844" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 新浪 -->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false" />

        <activity
            android:name=".test.TestShareActivity"
            android:screenOrientation="portrait" />

        <!-- 启动页后的左右滑动viewpager界面 -->
        <activity
            android:name=".business.welcome.view.WelcomeActivity"
            android:screenOrientation="portrait" />
        <!-- 选择租户界面 -->
        <activity
            android:name=".business.main.view.ChooseTenantActivity"
            android:screenOrientation="portrait" />
        <!-- 选择项目界面 -->
        <activity
            android:name=".business.main.view.ChooseProjectActivity"
            android:screenOrientation="portrait" />
        <!-- 忘记密码-图片验证码 -->
        <activity
            android:name=".business.login.view.PictureCodeActivity"
            android:screenOrientation="portrait" />
        <!-- 忘记密码-短信验证码 -->
        <activity
            android:name=".business.login.view.SmsCodeActivity"
            android:screenOrientation="portrait" />
        <!-- 忘记密码-重置密码 -->
        <activity
            android:name=".business.login.view.ResetPasswordActivity"
            android:screenOrientation="portrait" />
        <!-- 项目目录 -->
        <activity
            android:name=".business.main.view.ChooseCategoryActivity"
            android:screenOrientation="portrait" />
        <!-- 项目功能 -->
        <activity
            android:name=".business.main.view.ChooseCategoryItemActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 图纸 -->
        <activity
            android:name=".business.qualityManage.view.BluePrintActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".business.qualityManage.view.ModelActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
        <!-- 拍照后图片编辑 -->
        <activity
            android:name=".business.qualityManage.view.PhotoEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 基类 -->
        <activity
            android:name=".base.BaseActivity"
            android:screenOrientation="portrait" />
        <!-- 创建检查单 -->
        <activity
            android:name=".business.qualityManage.view.CreateCheckListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <!--<intent-filter>-->
            <!--<action android:fileName="android.intent.action.MAIN" />-->

            <!--<category android:fileName="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->

        </activity>
        <!-- 选择质检项目 -->
        <activity
            android:name=".business.qualityManage.view.ChooseModuleActivity"
            android:screenOrientation="portrait" />
        <!-- 质检标准 -->
        <activity
            android:name="com.glodon.bim.business.qualityManage.view.ModuleStandardActivity"
            android:screenOrientation="portrait" />
        <!-- 设置 -->
        <activity
            android:name=".business.setting.view.SettingActivity"
            android:screenOrientation="portrait" />
        <!-- 意见反馈 -->
        <activity
            android:name="com.glodon.bim.business.setting.view.FeedBackActivity"
            android:screenOrientation="portrait" />
        <!--相册-->
        <activity
            android:name=".customview.album.AlbumEditActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>-->
            <!--<action android:fileName="android.intent.action.MAIN" />-->


            <!--<category android:fileName="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <!--图片预览-->
        <activity
            android:name="com.glodon.bim.customview.photopreview.PhotoPreviewActivity"
            android:screenOrientation="portrait" />
        <!--检查单详情-->
        <activity
            android:name="com.glodon.bim.business.qualityManage.view.QualityCheckListDetailActivity"
            android:screenOrientation="portrait" />
        <!--创建复查单-->
        <activity
            android:name="com.glodon.bim.business.qualityManage.view.CreateReviewActivity"
            android:screenOrientation="portrait" />
        <!--关联图纸-具体展示图纸-->
        <activity
            android:name="com.glodon.bim.business.qualityManage.view.RelevantBluePrintActivity"
            android:screenOrientation="portrait">

        </activity>
        <!--关联模型-具体展示模型-->
        <activity
            android:name="com.glodon.bim.business.qualityManage.view.RelevantModelActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"/>
        <!--搜索模型或图纸-->
        <activity android:name="com.glodon.bim.business.qualityManage.view.BluePrintModelSearchActivity"
            android:screenOrientation="portrait"/>
        <!--创建材设进场记录-必填项页面-->
        <activity android:name="com.glodon.bim.business.equipment.view.CreateEquipmentMandatoryActivity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>